
        body{
        
       background-color:#002699 ;
       font-family:dyuthi;
       background-repeat:no-repeat;
       background-size:1290px 950px;
   
       justify-content:center;
       margin-top:250px;
            }
                       .cs{
                           background-color:#f2f2f2;
                          display:none;
                           border-radius:5px;
                           padding:3px 22px 50px 32px;
                          height:290px;width:320px;
                        

                          }
         input{
		 border: 2px solid #ffffff;
         border-radius: 8px;
         height:30px;
         width:80%;
         }
		 .input1{
		 border: 2px solid #ffffff;
         border-radius: 9px;
         margin-right :30px;
         height:20px;
         width:35%;
		 font-size:11px;
		float:right;
         }
		 .input2{
		 border: 2px solid #ffffff;
                border-radius: 9px;
                margin-left:30px;
               height:18px;
               width:30%;
		 font-size:10px;
		float:left;
         }
		 
		 
                       .button{
                       background-color:#3333ff;
                       color:white;
                      display:inline-block;
                      width:80%;height:10%;
                      font-family:dyuthi;
                      border:none;
                      border-radius:10px;
                        }
                        .button1
                        {
                        background-color:#009933;
                        width:200px;
                        height:10vh;
                        color:white;
                        font-weight:bold;
                        border:none;
                        outline:none;
                        font-size:25px;
                        }
                        .stop
                        {
                        display:none;
                        }
               .col{
                color:#ffffff;
      
	  
        }  
            
			   
						
        
      .atm{
    margin-top:-220px;
   padding-left:10px;
    
     float:left;
    
	
     }
     .logout{
   margin-top:-220px;
   padding-left:10px;
    
     float:right;
    
	
     }
     
     .choice{
    
     display:none;
     }
     }
      .logo{
    float:left;  
   padding-left:10px;
   width:15%;
   
     }
     h3{
      color:#66ccff;
	  margin-top:5%;
	  margin-bottom:0%;
       }
	   h1{
	   margin-bottom:8%;
	   margin-top:0%;
	   }
	   h4{
	   padding-right:25px;
	   color:white;
	  
	   }
	   th{
		   color:white;
		   padding-right:158px;
		   font-size:20px;
		   font-family:arial;
		     background-color:green;
	   }
	   td
	   {
		   font-size:25px;
		   padding-top:40px;
		   font-family:arial;
		   
	   }
	   .content{
     
     width:70%;
     float:right;
    height:100%;
    
     }
     .btn{
       font-size:18px;
       color:#ffffff;
       height:90px;
       width:44%;
       margin:1%;
       background-color:#66ccff;
       justify-content:center;     
       float:right;
       border:none;
       font-weight:bold;
       cursor:pointer;
       
         }
         button:hover{
         background-color:#4700b3;
         }
         .modal{
       margin-top:-405px;
         color:#e6e6ff;
         width:100%;
         height:100vh;
        background-color:black;
        
        padding-top:390px;
        
         display:none;
         }
         .modal-con{
         width:30%;
         height:30vh;
         background-color:#002699;
         color:white;
         padding-top:40px;
        }
        .modal1{
       margin-top:-405px;
         color:#e6e6ff;
         width:100%;
         height:120vh;
        background-color:black;
        
        padding-top:390px;
        
         display:none;
         }
         .modal-con1{
         width:30%;
         height:30vh;
         background-color:#002699;
         color:white;
         padding-top:40px;
        }
         .enter{
         width:65%;
         height:45px;
         background-color:red;
         border:none;
         color:white;
         font-size:25px;
         }
		 .enter1{
         width:30%;
         height:35px;
         background-color:black;
         border:none;
         color:white;
         font-size:25px;
		 border-radius:10px;
		
         }
		  .enter2{
         width:20%;
         height:35px;
         background-color:black;
         border:none;
         color:white;
         font-size:25px;
		 border-radius:10px;
		 margin-top:5px;
		 float:right;
		 margin-left:15px;
		 margin-bottom:40px;
         }
		 .enter3{
         width:20%;
         height:35px;
         background-color:white;
         border:none;
         color:black;
         font-size:25px;
		 border-radius:10px;
		 margin-top: -30px;
		
		margin-left: -121px;
		 margin-bottom:40px;
		 float:left;
         }
		 
         .drawin{
        border-radius:none;
         border:none;
         height:40px;
         width:65%;
         }
         .trantable
         {
         display:none;
      
        width:80%;
        height:80%;
         margin-top:-210px;
         }
         
