body{
    background-color:rgb(230, 228, 224);
    width:100%;
    height:100%;
    margin:auto;
}
*{
    margin:0px;
    padding:0px
}

.header{
   height:39px;
  padding-left:20px;
  padding-top:20px;
}
.order{
    width:10%;
    float:left;
   
    padding-left: 20px;
}
.left-content{
    width:60%;
    background-color:white;
    min-height: 500px;
    float: left;
    padding:10px;
    padding-top:25px;
}
.right-content{
    width:35%;
    min-height:200px;
    background-color:white;
    float: left;
    padding:10px;
    padding-top:30px;
    
}
.button{
    border:none;
    width:135px;
    height:80px;
    background-color: rgb(163, 172, 247);
    opacity:0.6;
    color:black;
    margin:1%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-bottom-color : blue;
    font-size:13px; 
}
.table{
    background-color:rgb(163,172,247) ;
    float:left;
    
}
.data{
    background-color: azure;
    border:none;
   

}
th{
    width:6%;
    background-color: rgb(199, 211, 245);
    text-transform: capitalize;
}
td{
    width:6%;
    padding:8px;
    
}
.recipe{
    width:200px;
    height:25px;
    background-color:rgb(72, 104, 139);
    border:none
}
.charge{
    width:200px;
    height:25px;
    background-color:rgb(32, 90, 44);
    border:none 
}
.align{
    text-align: center;
}
input{
    height:18px;
    width:50%;
    text-align: center;
}
.tot{
    width:100px;
    height:30px;
    background-color:pink;
    border:none;

}